HTML {
  margin: none;
  padding: none;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: inline-flex;
  flex-wrap: wrap;
}

.navbar {
width: 100%;
height: 60px;
margin: 0px;
/* position: absolute; */
background: #A19F9F;
}


.hero {
width: 100%;
height: 400px;
background: url("https://destateparks.com/wwwroot/images/parks/lums/LumsPond-HERO.jpg");
background-repeat: no-repeat !important;
background-position: center;
background-size: cover;

}


.hero-text-container {
  margin-left: 25%;
align-content: center;
width: 50%;
height: auto;




}

.hero-text {
  align-content: center;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  padding-top: 50px;
  color: #ffffff;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.9));
}

.hero-subtext {
  padding: 50px;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 29px;
text-align: center;

color: #000000;
}


.form-group {
display: inline-block;
width: 75%;
height: 60px;
margin-left: 10%;


}


.form-field {
  align-content: center;
  width: 70%;
height: 60px;
padding: 10px;

  border: 1px solid #A19F9F;
  box-sizing: border-box;
  border-radius: 5px;
  
}

.form-group span {
  

  background-color: #F9F9F9;;
  font-size: 20px;
  padding: 19px;
  border: 1px solid #A19F9F;
  box-sizing: border-box;
}

.form-group button {
  
  background-color: #C4C4C4;
  font-size: 20px;
  padding: 19px;
  border: 1px solid #A19F9F;
  box-sizing: border-box;
}


.card {
  width: 25%;
  height: 500px;
  margin: 30px;
  background-color: #ffffff;

  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));

}

.card-image {
  width: 100%;
  height: 200px;
  background-color: #E5E5E5;
}

.card-content-bg {
  width: 100%;
  height: 200px;
  background-color: #EDEDED;
}

.card-light-text {
  
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  margin-left: 20px;
  padding-top: 10px;
  
  color: #C4C4C4;
}

.card-title-text {
  
  margin-left: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 47px;
  
  color: #000000;
}

.card-dark-subtext {
  
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  margin-left: 20px;
  
  color: #000000;
}


.card-icon {
  width: 20px;
  height: 20px;
  margin: 5px;
  color: #C4C4C4 !important;
}

.card-icon-container {
  margin-left: 15px;
}

.card-dark-subtext-centered {
  align-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  margin-top: 20px;
  margin-left: 35%;
  
  color: #000000;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
  border-top: 20px solid #EDEDED ;
  position: absolute;
  margin-left: 42%;
  margin-top: 30px;
  z-index: 2;
}


.card-review-button {
  width: 90%;
  height: 10%;
  margin-left: 15px;
  margin-top: 30px;

  background-color: #C4C4C4;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #ffffff;
cursor: pointer;
}

.card-review-button:hover {


  width: 90%;
  height: 10%;
  margin-left: 15px;
  margin-top: 30px;

  background-color: #AEAEAE;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #ffffff;
cursor: pointer;
filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));

}

.card-review-button-text {


  
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-top: 20px;
  padding-top: 15px;
  color: #ffffff;
  cursor: pointer;
  }

.card-review-button-text:hover {


  
  text-decoration: underline;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-top: 20px;
  padding-top: 15px;
  color: #ffffff;
  cursor: pointer;
  }