HTML {
  margin: none;
  padding: none;
  background-color: #e6e6e6;
}

body {
  background-color: #e6e6e6;
}

.container {
  display: flex;
  flex-direction: row;
  /* align-items: center;
  align-content: center; */
  align-self: flex-start;
  background-color: #e6e6e6;
  flex-wrap: wrap;
}

.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.navbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
   z-index: 1;
width: 100%;
height: 60px;
margin: 0px;
/* position: absolute; */
background: #ffffff;
filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.2));
}


.activityiconbarcontainer {
  width: 100%;
  background-color: #ffffff;
  height: 100px;
  display: flex;
  flex-direction: row;
  overflow: scroll;
  overflow-y: hidden;
  /* padding: 20px; */
  padding-top: 20px;
  margin-bottom: 40px;
  align-self: center;
  justify-content: center;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.2));
}

.parkinfoiconcontainer {
  display: flex;
  flex-direction: row;
  align-self: center;
  overflow-x: scroll;
  overflow-y: clip;

}

.parkinfoiconlink{
  margin: 10px;
  text-decoration: none;
  color: #74A57F;
  font-weight: 900;
  

}

.parkinfoiconlink:hover{
  color: #5b8a65;


  

}

a {
  text-decoration: none;
}


.arrow {
  border: solid #e6e6e6;
  border-width: 0 8px 8px 0;
  margin-top: 50px;
  margin-left: 80%;
  position: absolute;
  display: block;
  padding: 3px;
  width: 10px;
  height: 10px;

}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);

}

.hero {
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
height: 700px;
background: url("https://destateparks.com/wwwroot/images/parks/lums/LumsPond-HERO.jpg");
background-repeat: no-repeat !important;
background-position: center;
background-size: cover;

}

.beachhero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 400px;
  background: url("https://destateparks.com/wwwroot/images/parks/delSeashore/DelawareSeashore-HERO.jpg");
  background-repeat: no-repeat !important;
  background-position: center;
  background-size: cover;
  
  }

  .campinghero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 400px;
    background: url("https://destateparks.com/wwwroot/images/reservations/RV-TentCamping-Hero.jpg");
    background-repeat: no-repeat !important;
    background-position: center;
    background-size: cover;
    
    }
    .scenichero {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 400px;
      background: url("https://destateparks.com/wwwroot/images/know/PetsInTheParkHero.jpg");
      background-repeat: no-repeat !important;
      background-position: center;
      background-size: cover;
      
      }

    .topfivehero {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 400px;
      background: url("https://destateparks.com/wwwroot/images/attractions/KPwaterpark/WaterPark-HERO.jpg");
      background-repeat: no-repeat !important;
      background-position: center;
      background-size: cover;
      
      }
  
      
    


.hero-text-container {
  /* margin-left: 25%; */
align-content: center;
width: 50%;
height: auto;




}

.hero-text {
  align-content: center;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  padding-top: 50px;
  color: #ffffff;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.9));
}

.hero-subtext {
  padding: 60px;
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 29px;
text-align: center;

color: #ffffff;
filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.9));
}


.form-group {
display: inline-block;
width: 100%;
height: 60px;
margin-top: 5%;


}


.form-field {
  align-content: center;
  width: 70%;
height: 50px;
font-size: 18;
padding: 10px;

  /* border: 1px solid #A19F9F; */
  box-sizing: border-box;
  /* border-radius: 5px; */
  
}

.form-group span {
  

  background-color: #F9F9F9;;
  font-size: 20px;
  padding: 19px;
  border: 1px solid #A19F9F;
  box-sizing: border-box;
}

.form-group button {
  
  background-color: #C4C4C4;
  font-size: 16px;
  padding: 19px;
  border: 1px solid #A19F9F;
  box-sizing: border-box;
}


.card {
  width: 300px;
  height: 400px;
  margin: 30px;
  background-color: #ffffff;

  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));

}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  background-color: #E5E5E5;
  
}

.card-content-bg {
  width: 100%;
  height: auto;
  background-color: #ffffff;
}

.card-light-text {
  
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  margin-left: 20px;
  padding-top: 10px;
  
  color: #C4C4C4;
}

.card-title-text {
  
  margin-left: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 47px;
  
  color: #000000;
}

.card-dark-subtext {
  
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  margin-left: 20px;
  
  color: #000000;
}

.navbartext a {
margin: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  
  color: #333333;
  cursor: pointer;
  text-decoration: none;
}



.navbartext a:hover {

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #65c6f3;
  cursor: pointer;
  text-decoration: none;
}



.card-icon {
  width: 20px;
  height: 20px;
  color: #C4C4C4 !important;
}

.nav-icon {
  width: 20px;
  height: 20px;
  margin: 5px;
  color: #C4C4C4 !important;
}

.nav-icon svg path {
  width: 20px;
  height: 20px;
  margin: 5px;
  fill: #C4C4C4 !important;
}


.card-icon-container {
  margin-left: 15px;
}

.colorize-pink {
  filter: brightness(0.5) sepia(1) hue-rotate(-70deg) saturate(5);
}

.card-dark-subtext-centered {
  align-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  margin-top: 20px;
  margin-left: 35%;
  
  color: #000000;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
  border-top: 20px solid #EDEDED ;
  position: absolute;
  margin-left: 42%;
  margin-top: 30px;
}


.card-review-button {
  width: 90%;
  height: 10%;
  margin-left: 15px;
  margin-top: 30px;

  background-color: #02b1e8;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #ffffff;
cursor: pointer;
}

.card-review-button:hover {


  width: 90%;
  height: 10%;
  margin-left: 15px;
  margin-top: 30px;

  background-color: #1189ad;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #ffffff;
cursor: pointer;
filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));

}

.card-review-button-text {


  
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  padding: 15px;
  color: #ffffff;
  cursor: pointer;
  }

.card-review-button-text:hover {


  
  text-decoration: underline;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-top: 20px;
  padding-top: 15px;
  color: #ffffff;
  cursor: pointer;
  }

  /* ----------drop down menu */




  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  icon-sort {
    float: left;
    
  }
  
  icon-sort, .dropbtn {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  icon-sort a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  icon-sort.dropdown {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
  }
  
  .dropdown-content {
    margin-right: 20px;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 80%;
    font-size: 16px;
    z-index: 1;
  }
  
  .dropdown-content a {
    padding-right: 20px;
    color: black;
    font-size: 12;
    padding: 12px 16px;
    text-decoration: none;
    align-content: flex-end;
    display: inline-flex;
    flex-wrap: wrap;
    text-align: left;
  }

 
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: flex;
  }

.reviews-bg{
  background: #ffffff;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.review-container {
  width: 100%;
  display: flex;
}
  .review-image {
    display: flex;
    background: #C4C4C4;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
    object-fit: cover;
    overflow: hidden;
    align-content: center;
    justify-content: center;
    object-position: center;

  }


  .review-text-container{
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .review-name {

    font-size: 18px;
    width: 150%;
    line-height: 23px;
    margin-top: 10px;
    margin-left: 10px;
    color: #000000;
  
    }

  .review-text{
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin: 10px;
  }

  .review-activity-icon-container{
    display: flex;
    flex-direction: row;
  }


  .review-border {
      border-top: 1px solid #f2f2f2;
      width: 50%;
      align-self: center;
      margin: 10px;
      
  }

  .review-form-container {
    background: #ffffff;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .review-form-name-input {
    
    width: 65%;
    height: 30px;
    margin: 20px;
    justify-content: center;
    align-self: center;
  }

  .review-form-text-input {
    
    width: 65%;
    height: 100px;
    margin: 20px;
    align-self: center;
  }

  .review-stars-container {

    width: auto;
    margin: 20px;
    display: flex;

  }


  .reviewcontainer{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;

  }

  .review-input-container {
    width: auto;
    align-self: center;
    justify-content: center;

  }

  .review-form-image-upload-button {
    width: 90%;
    height: 10%;
    margin-left: 15px;
    margin-top: 30px;
    border: none;
  
    background-color: #02b1e8;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  
  color: #ffffff;
  cursor: pointer;
  }

  .review-upload-container {
    width: auto;
    align-self: center;
    justify-content: center;
    margin: 20px;
    padding: 10px;
  }
  
  .review-form-image-upload-button:hover {
  
  
    width: 90%;
    height: 10%;
    margin-left: 15px;
    margin-top: 30px;
    border: none;
  
    background-color: #1189ad;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  
  color: #ffffff;
  cursor: pointer;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
  
  }



label {
    width: 90%;
    height: 10%;
    margin-left: 15px;
    margin-top: 30px;
    border: none;
    padding: 20px;
  
    background-color: #02b1e8;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  
  color: #ffffff;
  cursor: pointer;
  }
  
label:hover {
  
  
    width: 90%;
    height: 10%;
    margin-left: 15px;
    margin-top: 30px;
    border: none;
  
    background-color: #1189ad;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  
  color: #ffffff;
  cursor: pointer;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
  
  }



  /* S T A R S */

  .starSelection-1 {
    cursor: pointer;
  }

  .starSelection-2 {
    cursor: pointer;
  }

  .starSelection-3 {
    cursor: pointer;
  }

  .starSelection-4 {
    cursor: pointer;
  }


  .starSelection:hover {
    cursor: pointer;
    color: red;
  }

  .padding {
    height: 300px;
    background-color: #e6e6e6;
    /* position: absolute; */
    padding: 100px;
  }

  .footer {
    height: 200px;
    background-color: #C4C4C4;
    /* position: absolute; */
    padding: 100px;
  }


/* M E D I A  Q U E R I E S */

@media only screen and (max-width: 1200px) {

  .hero {
    width: 100%;
    height: 700px;
    background: url("https://destateparks.com/wwwroot/images/parks/lums/LumsPond-HERO.jpg");
    background-repeat: no-repeat !important;
    background-position: center;
    background-size: cover;
    
    }
    
    .beachhero {
      width: 100%;
      height: 400px;
      background: url("https://destateparks.com/wwwroot/images/parks/delSeashore/DelawareSeashore-HERO.jpg");
      background-repeat: no-repeat !important;
      background-position: center;
      background-size: cover;
      
      }

      .parkInfoHero {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-self: center;
        text-align: center;
        width: 100%;
        height: 400px;
        background-repeat: no-repeat !important;
        background-position: center;
        background-size: cover;
        
        }
    
      .campinghero {
        width: 100%;
        height: 400px;
        background: url("https://destateparks.com/wwwroot/images/reservations/RV-TentCamping-Hero.jpg");
        background-repeat: no-repeat !important;
        background-position: center;
        background-size: cover;
        
        }
        .scenichero {
          width: 100%;
          height: 400px;
          background: url("https://destateparks.com/wwwroot/images/know/PetsInTheParkHero.jpg");
          background-repeat: no-repeat !important;
          background-position: center;
          background-size: cover;
          
          }
    
        .topfivehero {
          width: 100%;
          height: 400px;
          background: url("https://destateparks.com/wwwroot/images/attractions/KPwaterpark/WaterPark-HERO.jpg");
          background-repeat: no-repeat !important;
          background-position: center;
          background-size: cover;
          
          }
      
          
        
    
    
    .hero-text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;
    align-content: center;
    width: 75%;

    
    
    
    
    }

    .parkinfo-hero-text-container{
      align-content: center;
      width: 75%;
    }
    
    .hero-text {
      align-content: center;
      font-style: normal;
      font-weight: 900;
      font-size: 60px;
      line-height: 70px;
      text-align: center;
      padding-top: 50px;
      color: #ffffff;
      filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.9));
    }
    
    .hero-subtext {
      padding: 60px;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    
    color: #ffffff;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.9));
    }


    .form-group {
      display: inline-block;
      width: 100%;
      height: 60px;
      margin-top: 5%;
      
      
      }
      
      
      .form-field {
        align-content: center;
        width: 100%;
      height: 50px;
      font-size: 18;
      padding: 10px;
      
        /* border: 1px solid #A19F9F; */
        box-sizing: border-box;
        /* border-radius: 5px; */
        
      }
      
      .form-group span {
        
      
        background-color: #F9F9F9;;
        font-size: 20px;
        padding: 19px;
        border: 1px solid #A19F9F;
        box-sizing: border-box;
      }
      
      .form-group button {
        
        background-color: #C4C4C4;
        font-size: 16px;
        padding: 19px;
        border: 1px solid #A19F9F;
        box-sizing: border-box;
      }

  .card {
    background-color: lightblue;
    width: 300px;
    height: 500px;
    margin: 30px;
    margin-top: 50px;
    background-color: #ffffff;
    align-items: flex-start;
  
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
  }

  .form-group {
    display: inline-block;
    width: 100%;
    height: 60px;
    margin-left: 3%;
    margin-top: 5%;
    
    
    }
    
    
    .form-field {
      align-content: center;
      width: 100%;
    height: 50px;
    font-size: 18;
    padding: 10px;
    
      /* border: 1px solid #A19F9F; */
      box-sizing: border-box;
      /* border-radius: 5px; */
      
    }
    
    .form-group span {
      
    
      background-color: #F9F9F9;;
      font-size: 20px;
      padding: 19px;
      border: 1px solid #A19F9F;
      box-sizing: border-box;
    }
    
    .form-group button {
      
      background-color: #C4C4C4;
      font-size: 16px;
      padding: 19px;
      border: 1px solid #A19F9F;
      box-sizing: border-box;
    }
}

@media only screen and (max-width: 800px) {

  

  .container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    background-color: #e6e6e6;
  }

  .navbar{
    display: flex;
    justify-content: center;
  }

  .navbartext a {
    display: none;
    margin: 40px;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      color: #333333;
      cursor: pointer;
      text-decoration: none;
    }
    
    
    
    .navbartext a:hover {
      display: none;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      color: #65c6f3;
      cursor: pointer;
      text-decoration: none;
    }


    .nav-icon {
      align-items: center;
      justify-content: center;
      align-self: center;

      position: absolute;
      width: 20px;
      height: 20px;
      margin: 10px;
      color: #C4C4C4 !important;
    }
    
    .nav-icon svg path {
      width: 20px;
      height: 20px;
      margin: 5px;
      fill: #C4C4C4 !important;
    }


  .hero {
    width: 100%;
    height: 500px;
    background: url("https://destateparks.com/wwwroot/images/parks/lums/LumsPond-HERO.jpg");
    background-repeat: no-repeat !important;
    background-position: center;
    background-size: cover;
    
    }
    
    .beachhero {
      width: 100%;
      height: auto;
      background: url("https://destateparks.com/wwwroot/images/parks/delSeashore/DelawareSeashore-HERO.jpg");
      background-repeat: no-repeat !important;
      background-position: center;
      background-size: cover;
      
      }
    
      .campinghero {
        width: 100%;
        height: auto;
        background: url("https://destateparks.com/wwwroot/images/reservations/RV-TentCamping-Hero.jpg");
        background-repeat: no-repeat !important;
        background-position: center;
        background-size: cover;
        
        }
        .scenichero {
          width: 100%;
          height: auto;
          background: url("https://destateparks.com/wwwroot/images/know/PetsInTheParkHero.jpg");
          background-repeat: no-repeat !important;
          background-position: center;
          background-size: cover;
          
          }
    
        .topfivehero {
          width: 100%;
          height: auto;
          background: url("https://destateparks.com/wwwroot/images/attractions/KPwaterpark/WaterPark-HERO.jpg");
          background-repeat: no-repeat !important;
          background-position: center;
          background-size: cover;
          
          }
      
          
        
    
    
    .hero-text-container {
    align-content: center;
    width: 100%;
    height: auto;
    
    
    
    
    }
    
    .hero-text {
      align-content: center;
      font-style: normal;
      font-weight: 900;
      font-size: 30px;
      line-height: 30px;
      text-align: center;
      padding-top: 50px;
      color: #ffffff;
      filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.9));
    }
    
    .hero-subtext {
      padding: 16px;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    
    color: #ffffff;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 100));
    }


  .card {
    background-color: lightblue;
    width: 100%;
    height: auto;
    margin: 10px;
    background-color: #ffffff;
  
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
  }

  /* ----------drop down menu */
.form-container{
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: 10px;

}


  .form-group {
 
    width: 10%;
    height: 40px;
    margin: 0px;
    

    }
    
    
    .form-field {
      display: flex;
      flex-direction: row;
      align-content: center;
      width: 90%;
    height: 40px;
    font-size: 18;
    margin-bottom: -60px;
    
      /* border: 1px solid #A19F9F; */
      box-sizing: border-box;
      /* border-radius: 5px; */
      
    }


    

    
    .form-group button {
      
      background-color: #C4C4C4;
      font-size: 16px;
      border: 1px solid #A19F9F;
      box-sizing: border-box;
      width: 10%;
      display: flex;
      flex-direction: row;
    }


  ul {
    align-content: center;
    display: flex;
    flex-direction: row;
  height: 40px;
  font-size: 16;
    box-sizing: border-box;

  }
  
  
  icon-sort a:hover, .dropdown:hover .dropbtn {
    display: flex;
    flex-direction: row;
    background-color: red;
  }
  
  icon-sort.dropdown {
    display: flex;
    flex-direction: row;
    width: 10%;
    
  }

.dropdowncontentrow{
justify-content: left;
display: flex;
flex-direction: row;
align-self: left;
width: 100%;
cursor: pointer;
margin: 5px;
color: #c0c0c0;

}

/* .dropdowncontentrow :hover{

  background-color: #f2f2f2;

  
  } */

  .dropdowncontentrowcontainer{
    background-color: #ffffff;
    justify-content: left;
  }

  .dropdowncontentrowcontainer:hover{
    background-color:#f2f2f2;
    justify-content: left;
  }

  .dropdowncontenticon{
    width: 20px;
    height: 20px;
    margin-left: 0px;
    margin-right: 5px;
    justify-content: left;
  }

  .dropdowncontenticon-small{
    width: 14px;
    height: 14px;
    margin-left: 0px;
    margin-right: 5px;
    justify-content: left;
  }
  .dropdown-content-icon{
    margin-right: 0px;
    margin-bottom: 0px;
    width: 20px;
    height: 20px;

  }
  
  .nav-icon-activity{
    margin-right: 50px;
    margin-left: -10px;
    margin-top: -12px;
  }

  .nav-icon-caret-down{
    margin-right: 10px;
    margin-top: -12px;
    margin-left: 10px;
    margin-bottom: 0px;
  }

  .dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 10%;
    font-size: 14px;
    z-index: 1;
  }

  .dropbtn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    
  }
  
  .dropdown:hover .dropdown-content {
    width: 100px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    flex-wrap: wrap;

  }

  .arrow {
    border: solid #e6e6e6;
    border-width: 0 8px 8px 0;
    margin-top: 50px;
    margin-left: 90%;
    position: absolute;
    display: block;
    padding: 3px;
    width: 10px;
    height: 10px;
    overflow: hidden;
  
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  
  }

  .activityiconbarcontainer {
    width: 100%;
    background-color: #ffffff;
    height: 100px;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    overflow-y: hidden;
    padding-top: 30px;

  }

  .card-light-text {
  
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    margin-left: 20px;
    padding-top: 10px;
    
    color: #C4C4C4;
  }
  
  .card-light-text-dropdown {
    
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    margin-left: 10px;
    padding-top: 10px;
    
    color: #C4C4C4;
  }
  
  .card-title-text {
    
    margin-left: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 47px;
    
    color: #000000;
  }
  
  .card-dark-subtext {
    
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    margin-left: 20px;
    
    color: #000000;
  }

}













 
